body {
            background-color: #000;
            color: #fff;
        }
        
        select {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23888888' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
            background-position: right 0.75rem center;
            background-repeat: no-repeat;
            background-size: 1.25em 1.25em;
        }

        .nav-active {
            background-color: #1a1a1a;
            border-left: 2px solid #0f7e59; 
            color: #fff;
        }
        
        .leaflet-container {
            background-color: #050505;
            font-family: 'Inter', sans-serif;
            border-radius: 1rem;
        }

        .leaflet-popup-content-wrapper, .leaflet-popup-tip {
            background-color: #1a1a1a;
            color: #ffffff;
            border: 1px solid #333;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
        }
        
        .leaflet-popup-content {
            margin: 14px 16px;
        }

        